@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Zen Maru Gothic',sans-serif;
}
