@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Zen Maru Gothic',sans-serif;
}

@media screen and (max-width: 1023px) {
    .grid{
        display: grid;
                grid-template-areas: 
                "img"
                "header"
                "txt";
    }
    
    .gridri{
        display: grid;
        grid-template-areas: 
        "img"
        "header"
        "txt2"
        "btn";
    }
}

@media screen and (min-width: 1024px) {
    .grid{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "header header"
        "img txt";
        grid-template-columns: 1fr 1fr;
    }
    
    .gridri{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "header header"
        "txt2 img"
        "txt2 btn";
        grid-template-columns: 1fr 1fr;
    }
}

.con-h2{
    grid-area:header;
}

.con-img{
    grid-area: img;
}

.con-block{
    grid-area: txt;
}

.con-btn{
    grid-area: btn;
}

.con-txt{
    grid-area: txt2;
}

@media screen and (max-width: 1023px) {
    .office__con{
        grid-template-areas: 
            "img"
            "con"
            "txt";
    }
}

@media screen and (min-width: 1024px) {
    .office__con{
        grid-template-areas: 
            "con img"
            "txt img";
        grid-template-columns: 1fr 1fr;
        gap: 3%;
    }
}

.office__h3{
    grid-area: con;
}

.office__txt{
    grid-area: txt;
}

.office__conteiner{
    grid-area: img;
}